<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kingdomanimalia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KingdomAnimalia">
        <activity android:name=".coelenterata.hal19_coelenterata"></activity>
        <activity android:name=".coelenterata.hal20_coelenterata" />
        <activity android:name=".porifera.hal12_porifera" />
        <activity android:name=".porifera.hal11_porifera" />
        <activity android:name=".porifera.hal10_porifera" />
        <activity android:name=".nemathelminthes.hal36_contoh_nemathelminthes" />
        <activity android:name=".nemathelminthes.hal35_struktur_nemathelminthes" />
        <activity android:name=".nemathelminthes.hal34_filum_nemathelminthes" />
        <activity android:name=".platyhelminthes.hal33_daurfasciola_2" />
        <activity android:name=".platyhelminthes.hal30_kelas_platyhelminthes_3_cestoda" />
        <activity android:name=".platyhelminthes.hal29_kelas_platyhelminthes_2_trematoda" />
        <activity android:name=".platyhelminthes.hal28_kelas_platyhelminthes_1_turbellaria" />
        <activity android:name=".platyhelminthes.hal27_kelas_platyhelminthes" />
        <activity android:name=".platyhelminthes.hal26_struktur_platyhelminthes" />
        <activity android:name=".platyhelminthes.hal25_filum_platyhelminthes" />
        <activity android:name=".coelenterata.hal24_kelas_coelenterata_3_anthozoa" />
        <activity android:name=".coelenterata.hal23_kelas_coelenterata_2_scypozoa" />
        <activity android:name=".coelenterata.hal22_kelas_coelenterata_1_hydrozoa" />
        <activity android:name=".coelenterata.hal21_kelas_coelenterata" />
        <activity android:name=".coelenterata.hal18_struktur_coelenterata" />
        <activity android:name=".coelenterata.hal17_filum_coelenterata" />
        <activity android:name=".porifera.hal16_kelas_porifera_3_demospongiae" />
        <activity android:name=".porifera.hal15_kelas_porifera_2_hexatinellide" />
        <activity android:name=".porifera.hal14_kelas_porifera_1_calcarea" />
        <activity android:name=".porifera.hal13_kelas_porifera" />
        <activity android:name=".porifera.hal9_struktur_porifera" />
        <activity android:name=".porifera.hal8_filum_porifera" />
        <activity android:name=".hal7_menu_jelajah_filum" />
        <activity android:name=".hal6_menu_kdi_2" />
        <activity android:name=".hal5_menu_kdi" />
        <activity android:name=".hal4_menu_screen" />
        <activity android:name=".hal3_petunjuk_screen" />
        <activity android:name=".hal2_login_screen" />
        <activity android:name=".hal1_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nemathelminthes.hal37_nemathelmintes_1_ascaris" />
        <activity android:name=".nemathelminthes.hal38_nemathelmintes_2_ancylostoma" />
        <activity android:name=".nemathelminthes.hal39_nemathelmintes_3_oxyuris" />
        <activity android:name=".nemathelminthes.hal40_nemathelmintes_4_wuchereria" />
        <activity android:name=".annelida.hal41_filum_annelida" />
        <activity android:name=".annelida.hal42_struktur_annelida" />
        <activity android:name=".annelida.hal43_kelas_annelida" />
        <activity android:name=".annelida.hal44_annelida_1_polychaeta" />
        <activity android:name=".annelida.hal45_annelida_2_oligochaeta" />
        <activity android:name=".annelida.hal46_annelida_3_hirudinea" />
        <activity android:name=".mollusca.hal47_filum_mollusca" />
        <activity android:name=".mollusca.hal48_struktur_mollusca" />
        <activity android:name=".mollusca.hal49_kelas_mollusca" />
        <activity android:name=".mollusca.hal50_mollusca_1_gastropoda" />
        <activity android:name=".mollusca.hal51_mollusca_2_pelecypoda" />
        <activity android:name=".mollusca.hal52_mollusca_3_cephalopoda" />
        <activity android:name=".arthropoda.hal53_filum_arthropoda" />
        <activity android:name=".arthropoda.hal54_struktur_arthropoda" />
        <activity android:name=".arthropoda.hal55_kelas_arthropoda" />
        <activity android:name=".arthropoda.hal56_pembagian_arthropoda" />
        <activity android:name=".arthropoda.hal57_arthropoda_1_arachnida" />
        <activity android:name=".arthropoda.hal58_arthropoda_1_arachnida2" />
        <activity android:name=".arthropoda.hal59_arthropoda_2_myriapoda" />
        <activity android:name=".arthropoda.hal60_arthropoda_2_myriapoda2" />
        <activity android:name=".arthropoda.hal61_arthropoda_3_crustacea" />
        <activity android:name=".arthropoda.hal62_struktur_udang" />
        <activity android:name=".arthropoda.hal63_struktur_udang2" />
        <activity android:name=".arthropoda.hal64_struktur_udang3" />
        <activity android:name=".arthropoda.hal65_arthropoda_4_insecta" />
        <activity android:name=".arthropoda.hal66_struktur_insecta" />
        <activity android:name=".arthropoda.hal67_daur_insecta" />
        <activity android:name=".arthropoda.hal68_daur_insecta2" />
        <activity android:name=".arthropoda.hal69_kelompok_insecta" />
        <activity android:name=".arthropoda.hal70_kelompok_eksopterigota" />
        <activity android:name=".arthropoda.hal71_kelompok_eksopterigota2" />
        <activity android:name=".arthropoda.hal72_kelompok_endopterigota" />
        <activity android:name=".arthropoda.hal73_kelompok_endopterigota2" />
        <activity android:name=".echinodermata.hal74_filum_enchinodermata" />
        <activity android:name=".echinodermata.hal75_struktur_enchinodermata" />
        <activity android:name=".echinodermata.hal76_kelas_enchinodermata" />
        <activity android:name=".echinodermata.hal77_enchinodermata_1_asteroidea" />
        <activity android:name=".echinodermata.hal78_enchinodermata_2_ophiuroidea" />
        <activity android:name=".echinodermata.hal79_enchinodermata_3_enchinoidea" />
        <activity android:name=".echinodermata.hal80_enchinodermata_4_holo" />
        <activity android:name=".echinodermata.hal81_enchinodermata_4_holo2" />
        <activity android:name=".echinodermata.hal82_enchinodermata_5_crino" />
        <activity android:name=".echinodermata.hal83_enchinodermata_5_crino2" />
        <activity android:name=".hal84_terima_kasih" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>