<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kingdomanimalia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KingdomAnimalia">
        <activity android:name=".hal12_porifera_tipe_leucon"></activity>
        <activity android:name=".hal11_porifera_tipe_sycon" />
        <activity android:name=".hal10_porifera_tipe_ascon" />
        <activity android:name=".hal20_daur_obelia_bg2" />
        <activity android:name=".hal32_daur_fasciola" />
        <activity android:name=".hal31_regenerasi_dugesia" />
        <activity android:name=".hal36_contoh_nemathelminthes" />
        <activity android:name=".hal35_struktur_nemathelminthes" />
        <activity android:name=".hal34_filum_nemathelminthes" />
        <activity android:name=".hal33_daurfasciola_2" />
        <activity android:name=".hal30_kelas_platyhelminthes_3_cestoda" />
        <activity android:name=".hal29_kelas_platyhelminthes_2_trematoda" />
        <activity android:name=".hal28_kelas_platyhelminthes_1_turbellaria" />
        <activity android:name=".hal27_kelas_platyhelminthes" />
        <activity android:name=".hal26_struktur_platyhelminthes" />
        <activity android:name=".hal25_filum_platyhelminthes" />
        <activity android:name=".hal24_kelas_coelenterata_3_anthozoa" />
        <activity android:name=".hal23_kelas_coelenterata_2_scypozoa" />
        <activity android:name=".hal22_kelas_coelenterata_1_hydrozoa" />
        <activity android:name=".hal21_kelas_coelenterata" />
        <activity android:name=".hal18_struktur_coelenterata" />
        <activity android:name=".hal17_filum_coelenterata" />
        <activity android:name=".hal16_kelas_porifera_3_demospongiae" />
        <activity android:name=".hal15_kelas_porifera_2_hexatinellide" />
        <activity android:name=".hal14_kelas_porifera_1_calcarea" />
        <activity android:name=".hal13_kelas_porifera" />
        <activity android:name=".hal9_struktur_porifera" />
        <activity android:name=".hal8_filum_porifera" />
        <activity android:name=".hal7_menu_jelajah_filum" />
        <activity android:name=".hal6_menu_kdi_2" />
        <activity android:name=".hal5_menu_kdi" />
        <activity android:name=".hal4_menu_screen" />
        <activity android:name=".hal3_petunjuk_screen" />
        <activity android:name=".hal2_login_screen" />
        <activity android:name=".hal1_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hal37_nemathelmintes_1_ascaris" />
        <activity android:name=".hal38_nemathelmintes_2_ancylostoma" />
        <activity android:name=".hal39_nemathelmintes_3_oxyuris" />
        <activity android:name=".hal40_nemathelmintes_4_wuchereria" />
        <activity android:name=".hal41_filum_annelida" />
        <activity android:name=".hal42_struktur_annelida" />
        <activity android:name=".hal43_kelas_annelida" />
        <activity android:name=".hal44_annelida_1_polychaeta" />
        <activity android:name=".hal45_annelida_2_oligochaeta" />
        <activity android:name=".hal46_annelida_3_hirudinea" />
        <activity android:name=".hal47_filum_mollusca" />
        <activity android:name=".hal48_struktur_mollusca" />
        <activity android:name=".hal49_kelas_mollusca" />
        <activity android:name=".hal50_mollusca_1_gastropoda" />
        <activity android:name=".hal51_mollusca_2_pelecypoda" />
        <activity android:name=".hal52_mollusca_3_cephalopoda" />
        <activity android:name=".hal53_filum_arthropoda" />
        <activity android:name=".hal54_struktur_arthropoda" />
        <activity android:name=".hal55_kelas_arthropoda" />
        <activity android:name=".hal56_pembagian_arthropoda" />
        <activity android:name=".hal57_arthropoda_1_arachnida" />
        <activity android:name=".hal58_arthropoda_1_arachnida2" />
        <activity android:name=".hal59_arthropoda_2_myriapoda" />
        <activity android:name=".hal60_arthropoda_2_myriapoda2" />
        <activity android:name=".hal61_arthropoda_3_crustacea" />
        <activity android:name=".hal62_struktur_udang" />
        <activity android:name=".hal63_struktur_udang2" />
        <activity android:name=".hal64_struktur_udang3" />
        <activity android:name=".hal65_arthropoda_4_insecta" />
        <activity android:name=".hal66_struktur_insecta" />
        <activity android:name=".hal67_daur_insecta" />
        <activity android:name=".hal68_daur_insecta2" />
        <activity android:name=".hal69_kelompok_insecta" />
        <activity android:name=".hal70_kelompok_eksopterigota" />
        <activity android:name=".hal71_kelompok_eksopterigota2" />
        <activity android:name=".hal72_kelompok_endopterigota" />
        <activity android:name=".hal73_kelompok_endopterigota2" />
        <activity android:name=".hal74_filum_enchinodermata" />
        <activity android:name=".hal75_struktur_enchinodermata" />
        <activity android:name=".hal76_kelas_enchinodermata" />
        <activity android:name=".hal77_enchinodermata_1_asteroidea" />
        <activity android:name=".hal78_enchinodermata_2_ophiuroidea" />
        <activity android:name=".hal79_enchinodermata_3_enchinoidea" />
        <activity android:name=".hal80_enchinodermata_4_holo" />
        <activity android:name=".hal81_enchinodermata_4_holo2" />
        <activity android:name=".hal82_enchinodermata_5_crino" />
        <activity android:name=".hal83_enchinodermata_5_crino2" />
        <activity android:name=".hal84_terima_kasih" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>