<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kingdomanimalia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KingdomAnimalia">
        <activity android:name=".hal36_contoh_nemathelminthes"></activity>
        <activity android:name=".hal35_struktur_nemathelminthes" />
        <activity android:name=".hal34_filum_nemathelminthes" />
        <activity android:name=".hal33_daurfasciola_2" />
        <activity android:name=".hal30_kelas_platyhelminthes_3_cestoda" />
        <activity android:name=".hal29_kelas_platyhelminthes_2_trematoda" />
        <activity android:name=".hal28_kelas_platyhelminthes_1_turbellaria" />
        <activity android:name=".hal27_kelas_platyhelminthes" />
        <activity android:name=".hal26_struktur_platyhelminthes" />
        <activity android:name=".hal25_filum_platyhelminthes" />
        <activity android:name=".hal24_kelas_coelenterata_3_anthozoa" />
        <activity android:name=".hal23_kelas_coelenterata_2_scypozoa" />
        <activity android:name=".hal22_kelas_coelenterata_1_hydrozoa" />
        <activity android:name=".hal21_kelas_coelenterata" />
        <activity android:name=".hal18_struktur_coelenterata" />
        <activity android:name=".hal17_filum_coelenterata" />
        <activity android:name=".hal16_kelas_porifera_3_demospongiae" />
        <activity android:name=".hal15_kelas_porifera_2_hexatinellide" />
        <activity android:name=".hal14_kelas_porifera_1_calcarea" />
        <activity android:name=".hal13_kelas_porifera" />
        <activity android:name=".hal9_struktur_porifera" />
        <activity android:name=".hal8_filum_porifera" />
        <activity android:name=".hal7_menu_jelajah_filum" />
        <activity android:name=".hal6_menu_kdi_2" />
        <activity android:name=".hal5_menu_kdi" />
        <activity android:name=".hal4_menu_screen" />
        <activity android:name=".hal3_petunjuk_screen" />
        <activity android:name=".hal2_login_screen" />
        <activity android:name=".hal1_splash_screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>